C:\Users\Keyur Panchal\code\dotfiles\mydotfiles\dotfiles-darkhold-02-08-17\clones
C:\Users\Keyur Panchal\code\dotfiles\mydotfiles\dotfiles-darkhold-02-08-17\.oh-my-zsh
C:\Users\Keyur Panchal\code\dotfiles\mydotfiles\dotfiles-darkhold-12-07-17\.vim\bundle
C:\Users\Keyur Panchal\code\dotfiles\mydotfiles\dotfiles-darkhold-12-07-17\.tmux\plugins\tpm
